.activeLink {
  color: #ffffff !important;
  font-weight: bolder;
}

.activeLink:hover {
  color: #ffffff !important;
}

.link {
  color: rgba(255, 255, 255, 0.45);
}

.link:hover {
  color: rgba(255, 255, 255, 0.45);
}

.logo {
  max-width: 100px;
}
